
// color scheme variables from ./colors.scss
// https://coolors.co/palette/827694-b5bdc2-1d2a39-111720-414e62-26435e
// $background: #222831;
// $foreground: #eeeeee;
// $accent: #76ABAE;
// $darkAccent: #31363F;



$accent: #827694;
$foreground: #B5BDC2;
$background: #111720;
$darkAccent: #26435E;
$secondaryBackground: #414E62;
$secondaryForeground: #1D2A39;




* {
    all: unset;
    // font-family: 
}



.statusbar {

    background-color: transparent;
    color: $foreground;
    font-size: x-large;

    &-right {
        background-color: $background;
        color: $foreground;
        padding: 0 0.3em 0 0.8em;
    }

    &-left {
        background-color: $background;
        color: $foreground;
        border: 3px solid $darkAccent;
    }

}

.ws-button
{

    &-visible{

    }
    &-urgent {
        // background-color: $accent;
        // color: $foreground;
        // border: 3px solid $darkAccent;   
    }
    &-busy {
        // background-color: $accent;
        // color: $foreground;
        // border: 3px solid $darkAccent;   
    }

    &-mine {
        background-color: $secondaryBackground;
        color: $foreground;
        border: 3px solid $secondaryBackground;   
    }
}


// 
// :class {tag.mine ? "ws-button-mine" :
//     tag.visible ? "ws-button-visible" :
//     tag.urgent ? "ws-button-urgent" :
//     tag.busy ? "ws-button-busy" : "ws-button"}